
{% extends 'core/base.html' %} 
{% load crispy_forms_tags %}
<!-- 220623, Thursday, 05.30 pm  -->
{% block title %}Change Password{% endblock title %} 

{% block style %} 


{% endblock style %} 

{% block content%}

        
        <h2 style="width:50%; margin:auto; color:skyblue">Change Password</h2>
        <form style="width: 50%; margin: auto" action="" method="post">
        {% csrf_token %} 

        <!-- as I am using the whole form, not breaking in the loop, 
                it will handle showing the errors if user gives any worng credentsls
         -->
                {{form|crispy}} 

                <!-- if the user gives wrong credentials, then form.non_field_errors would produce those errors  
                as in this form, a change password form is passed, the {{fm.errors|striptags}} would yield the errors if any 
                here we do not need to loop and print the  form.non_field_errors 
                -->

                 {% comment %} {% for fm in form %}
                {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} 
                {% endfor %}   {% endcomment %}

        <br>
        <br>
                <button class="btn btn-warning" type="submit">Change Password</button>
        </form>
        <br>
        <br>

{% endblock content %}
