

{% extends 'base.html' %}

{% comment %} ACC Django
Week 02  : Django Template
Module date : 220523, Monday 
Watch date : 3100523, Wednesday, 11.30 am  

5.1 Adding Bootstrap to our Django Project {% endcomment %}




{% block title %} Contact Us  {% endblock title %}   

{% block content %} 


<h1>This is contact us page </h1>
<h3>Hi, This is the fourth project fist app 1st page. </h3>
<h4>Mod date : 220523, Monday, Watch Date : 310523, Wednesday, 11.30 am</h4>

<h2> Contact Us Page 010623, Thursday, 05.00 pm </h2> 

{% endblock content %}



          
