

{% extends 'core/base.html' %}

{% block title %} Enter Book Id {% endblock title %} 

{% load crispy_forms_tags %}

{% block style %}

body {
        background-color : #34568B
}

{% endblock style %}

{% block content %}

        <br>
        <br>
        <h3 style="width: 50%; margin: auto; color: #55B4B0 ">
                See Books By Book ID 
        </h3>
        <br>
        <br>
        

{% endblock content %}




{% block form_table %}

        <form style="width: 50%; margin: auto" action="" method='POST'>

        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-info" type="submit">See Book</button>


{% endblock form_table %}


