

{% extends 'core/base.html' %}


{% block titile %}

Movie Rating 

{% endblock titile %}


{% block content %}


<div style="width : 50%; height : 500px; margin : auto" class="pt-5">
        <h3>Movie Rating Form</h3>

        <form method='POST' action='rating_success/'>   <!-- this action is redirecting to login_form_success template -->
                {% csrf_token %}    <!-- this csrf_token is mandatory if the method is POST-->

        <div class="mb-3">
                <label for="Name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="Name" placeholder="Enter name" name="username">
        </div>
        <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>

        <select class="form-select" aria-label="Default select example" name="select">
                <option selected>Select Rating</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>


        <button type="submit" class="btn btn-primary">Submit</button>
        </form>

</div>



{% endblock content %}



